.vs/
packages/

*.suo
*.user
_ReSharper.*


Website/node_modules
Website/src/.vuepress/dist
Website/src/.vuepress/.temp
Website/src/.vuepress/.cache


Melora/bin/
Melora/obj/

Plugins/Melora.Plugins/bin/
Plugins/Melora.Plugins/obj/

Plugins/Melora.PlatformSupport.Spotify/bin/
Plugins/Melora.PlatformSupport.Spotify/obj/

Plugins/Melora.PlatformSupport.YouTube/bin/
Plugins/Melora.PlatformSupport.YouTube/obj/

Plugins/Melora.PlatformSupport.SoundCloud/bin/
Plugins/Melora.PlatformSupport.SoundCloud/obj/

Plugins/Melora.Metadata.Default/bin/
Plugins/Melora.Metadata.Default/obj/

Plugins/Melora.Metadata.ITunes/bin/
Plugins/Melora.Metadata.ITunes/obj/