.vs/
packages/

*.suo
*.user
_ReSharper.*


Melora/bin/
Melora/obj/

Plugins/Melora.Plugins/bin/
Plugins/Melora.Plugins/obj/

Plugins/Melora.PlatformSupport.Spotify/bin/
Plugins/Melora.PlatformSupport.Spotify/obj/

Plugins/Melora.PlatformSupport.YouTube/bin/
Plugins/Melora.PlatformSupport.YouTube/obj/

Plugins/Melora.MetaData.Default/bin/
Plugins/Melora.MetaData.Default/obj/