.vs/
packages/

*.suo
*.user
_ReSharper.*


Musify/bin/
Musify/obj/

Plugins/Musify.Plugins/bin/
Plugins/Musify.Plugins/obj/

Plugins/Musify.PlatformSupport.Spotify/bin/
Plugins/Musify.PlatformSupport.Spotify/obj/

Plugins/Musify.PlatformSupport.YouTube/bin/
Plugins/Musify.PlatformSupport.YouTube/obj/

Plugins/Musify.MetaData.Default/bin/
Plugins/Musify.MetaData.Default/obj/