// you can change colors here
$theme-color: #c39fe6;

$bg-color: (
  light: #ffffff,
  dark: #100d17,
);

$bg-color-secondary: (
  light: #ebebeb,
  dark: #1c1827,
);

$bg-color-tertiary: (
  light: #c9c9c9,
  dark: #272233,
);